*{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  color: rgb(30, 30, 36);
}

main{
  display: flex;
}

.logobox{
  margin-top: 220px;
  margin-left: 100px;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  background-color: black;
}
.leftbrandside{
  height: 100vh;
  width: 100vw;
  background-color: rgba(146, 20, 12,0.8);
}

.resetsection{
  height: 100vh;
  width: 140vw;
  background-color: rgb(238, 218, 179);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetbox{
  background-color: rgb(255, 248, 240);
  height: 430px;
  width: 430px;
  border-radius: 20px;
}

#passtext{
  margin-top: 40px;
  margin-left: 40px;
}

#passinput{
  margin-top: 10px;
  margin-left: 40px;
  padding-left: 10px;
  height: 30px;
  width: 300px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid rgb(218, 218, 220);
}

button{
  margin-top: 40px;
  margin-left: 55px;
  height: 50px;
  width: 315px;
  border-radius: 30px;
  color: white;
  background-color: rgb(30, 30, 36,0.9);;
  border: 1px solid rgb(218, 218, 220);
  font-size: 14px;
}

